{{define "converting.html"}}
<section class="converting">
    <h5>Remuxing audio tracks to single M4B</h5>

    <details>
        <summary>Expand Console Log</summary>
        <dialog open></dialog>
    </details>

    <div class="progress" data-label="0%">
        <span class="value" style="width: 0%;"></span>
    </div>
    <div>Processing tracks...</div>

    <aside>
        <div>
            <img src="" alt="Cover" onerror="this.removeAttribute('src');">
            <table></table>
        </div>
    </aside>
</section>
{{end}}